.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input::placeholder {
  padding-left: 20px;

}

.info {
  border: 2px solid #9747FF;
  border-style: dashed;
}

.taks {
  background-color: #C6C7F8;
}

table,
th{
  border: 1px solid rgb(236, 233, 233);
}

table {
  width: 100%;
  border-collapse: collapse;
}

#department,
input::placeholder {
  color: rgb(49, 47, 47);
  font-weight: 500;
  font-size: 17px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}